<div class="follower">
  <%= link_to followers_user_path(@user.id) do %>
    <h5 style="color: black;">フォロワー<%= @user.followers.count %>人</h5>
  <% end %>
</div>
<div class="follow">
  <%= link_to following_user_path(@user.id) do %>
    <h5 style="color: black;">フォロー<%= @user.followings.count %>人</h5>
  <% end %>
</div>
<% if user_signed_in? && @user != current_user && current_user.email != 'guest@example.com' %>
  <% if current_user.following?(@user) %>
    <%= form_for(current_user, url: follow_path(@user), method: :delete, remote: true, id: :"follow_ #{@user.id}") do |f| %>
      <%= f.submit "フォロー解除", class: "btn btn-outline-secondary" %>
    <% end %>
  <% else %>
    <%= form_for(current_user, url: follows_path, method: :post, remote: true, id: :"follow_#{@user.id}") do |f| %>
      <%= hidden_field_tag :following_id, @user.id %>
      <%= f.submit "フォローする", class: "btn btn-outline-secondary" %>
    <% end %>
  <% end %>
<% end %>