<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの情報"%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">画像</th>
            <td class="table__col2"><%= image_tag @user.image, size: '150x150' %></td>
          </tr>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="table__col1">プロフィール</th>
            <td class="table__col2"><%= @user.profile %></td>
          </tr>
        </tbody>
      </table>
        <% if user_signed_in? && current_user.id == @user.id %>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <%= link_to "編集する", edit_user_registration_path, class: "btn btn-primary me-md-2" %>
          </div>
        <% end %>

      <h2 class="page-heading">
        <%= "#{@user.nickname}さんのヘルスケア"%>
      </h2>
      <div class="user__card">
        
        <%= render partial: "posts/post", collection: @posts %>
      </div>
      <h3>いいねしている投稿</h3>
        <% @user.liked_posts.each do |post| %>
          <%= post.user.email %>
          <%= post.title %>
        <% end %>
    </div>
  </div>
</div>