<div class="col-lg-4">
  <%# ヘルスケアの画像とそのリンク %>
  <%= link_to post_path(post.id), method: :get do %>
    <% image_tag post.image, class: "bd-placeholder-img rounded-circle" %>
  <% end %>  
  <div class="card__body">
    <%# ヘルスケアのタイトル %>
    <%= link_to post.title, post_path(post.id), method: :get, class: :card__title%>
    <p class="card__summary">
      <%# ヘルスケアのコンセプト %>
      <%= post.concept %>
    </p>
    <%# ヘルスケアの投稿者名 %>
    <%= link_to "by ヘルスケアの投稿者名", root_path, class: :card__user %>
    <%= link_to "詳しくみる >>", post_path(post.id), method: :get, class: "btn btn-secondary" %>
  </div>
</div>