<%# タグのナビバー %>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
<h5> タグリスト </h5>
<%= @tag_list.each do |list| %>
  <span>
    <%= link_to list.tag_name, tag_posts_path(tag_id: list.id) %>
    <%= "(#{list.posts.count})" %>
  </span>
<% end %>
</nav>
<main>
<%# カルーセル部分の表示 %>
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
    <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "health1.jpg", class:"d-block w-100"%>
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>あなたも健康的な生活を</h1>
          <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</p>
          <% if user_signed_in? %>
            <% if current_user.email == 'guest@example.com' %>
            <% else %>
              <%= link_to "投稿してみましょう", new_post_path, class: "btn btn-lg btn-primary" %>
            <% end %>
          <% else %>
            <%= link_to "今すぐサインアップ", new_user_session_path, class: "btn btn-lg btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <%= image_tag "health2.jpg", class:"d-block w-100"%>
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>様々な方が健康的に過ごしています</h1>
          <p>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</p>
          <%= link_to "もっとみる", search_posts_path, class: "btn btn-lg btn-primary" %>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <%= image_tag "health3.jpg", class:"d-block w-100"%>
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>自身の健康をチェックしてみませんか？</h1>
          <p>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</p>
          <% if user_signed_in? %>
            <% if current_user.email == 'guest@example.com' %>
            <% else %>
              <%= link_to "プロフィール", user_path(current_user.id), class: "btn btn-lg btn-primary" %>
            <% end %>
          <% else %>
            <%= link_to "今すぐサインアップ", new_user_session_path, class: "btn btn-lg btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">前へ</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">次へ</span>
  </a>
</div>
<%# 投稿の一覧を表示 %>
<div class="container marketing">
  <div class="row">
    <%= render partial: "post", collection: @posts %>
  </div>
</div>
</main>