<%# タグのナビバー %>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <form class="container-fluid justify-content-start">
    <%= link_to "タグリスト ", root_path, class: "navbar-brand" %>
    <% @tag_list.each do |list| %>
      <button class="btn btn-sm btn-outline-secondary" type="button">
        <%= link_to "#{list.tag_name}:#{list.posts.count}", tag_posts_path(tag_id: list.id), class: "nav-link"  %>
      </button>
    <% end %>
  </form>
</nav>
<main>
<%# カルーセル部分の表示 %>
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
    <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "health1.jpg", class:"d-block w-100"%>
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>あなたも健康的な生活を</h1>
          <p>お互いの健康に関することをシェアしあって日々より良い生活を送っていきましょう！</p>
          <% if user_signed_in? %>
            <% if current_user.email == 'guest@example.com' %>
            <% else %>
              <%= link_to "投稿してみましょう", new_post_path, class: "btn btn-lg btn-primary" %>
            <% end %>
          <% else %>
            <%= link_to "今すぐサインアップ", new_user_session_path, class: "btn btn-lg btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <%= image_tag "health2.jpg", class:"d-block w-100"%>
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>様々な方が健康的に過ごしています</h1>
          <p>もっとみるを選択することによって、いろんな方の健康法やフィットネス方法、サプリメントなど、健康に関する情報の詳細を見ることができます</p>
          <%= link_to "もっとみる", search_posts_path, class: "btn btn-lg btn-primary" %>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <%= image_tag "health3.jpg", class:"d-block w-100"%>
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>自身の健康をチェックしてみませんか？</h1>
          <p>プロフィール欄にある健康チェックを行うことで、自身の日々の健康状態をチェックすることができます</p>
          <% if user_signed_in? %>
            <% if current_user.email == 'guest@example.com' %>
            <% else %>
              <%= link_to "プロフィール", user_path(current_user.id), class: "btn btn-lg btn-primary" %>
            <% end %>
          <% else %>
            <%= link_to "今すぐサインアップ", new_user_session_path, class: "btn btn-lg btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">前へ</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">次へ</span>
  </a>
</div>
<%# 投稿の一覧を表示 %>
<div class="container marketing">
  <div class="row">
    <%= render partial: "post", collection: @posts %>
  </div>
</div>
</main>