<h2> 投稿一覧</h2>

<%# 左右で交互に表示させたいのでcount変数を作り奇数偶数を設定 %>
<% count = 0 %>
<% @posts.each do |post| %>
  <hr class="featurette-divider">
  <div class="row featurette">
    <% if count == 0 || count % 2 == 0 %>
        <div class="col-md-7 order-md-2">
    <% else %>
        <div class="col-md-7"> 
    <% end %>
    <%= link_to post.title, post_path(post.id), method: :get, class: "featurette-heading"%>
    <i class="fa fa-heart unlike"><%= post.liked_users.count %></i>
    <p class="lead"><%= post.concept %></p>
        </div>
    <% if count == 0 || count % 2 == 0 %>
        <div class="col-md-5 order-md-1">
    <% else %>
        <div class="col-md-5"> 
    <% end %>
      <%= link_to post_path(post.id), method: :get do %>
        <% image_tag post.image, class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" %>
      <% end %>
    <%= link_to "by #{post.user.nickname}", user_path(post.user.id), class: :card__user %>
        </div>
  </div>
  <% count += 1 %>
<% end %>
<hr class="featurette-divider">