<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <link rel="canonical" href="https://getbootstrap.jp/docs/5.0/examples/carousel/">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>FitCareHealth</title>
    <!-- Bootstrap core CSS -->
    <link href=https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%# 'data-turbolinks-track': 'reload' %>
  </head>
  
  <header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <%= link_to "Fit Care Health", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <% if user_signed_in? %>
          <% if current_user.email == 'guest@example.com' %>
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item active">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
              </li>
            </ul>
          <% else %>
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item active">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "新規投稿", new_post_path, class: "nav-link" %>
              </li>
            </ul>
          <% end %>
        <% else %>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item active">
            <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
          </li>
        </ul>
        <% end %>
        <form class="d-flex">
          <%= search_form_for @search, url: list_posts_path do |f| %>
            <%= f.text_field :title_cont, placeholder: '検索', class: "form-control me-2" %>
            <%= f.submit ("検索する"), class: "btn btn-outline-success" %>
          <% end %>
        </form>
      </div>
    </div>
  </nav>
  </header>

  <div class="wrap-video">
    <video src="/videos/healthmove.mp4" autoplay loop muted width="100%" hight="100vh">
  </div>
  <div class="main-screen">
    <%= yield %>
  </div>

  <footer class="container">
    <%= link_to "トップに戻る", root_path, class: "float-end" %>
    <p>&copy; 2017-2021 Company, Inc. &middot; <a href="#">プライバシー</a> &middot; <a href="#">利用規約</a></p>
  </footer>
</html>
